@page "/ukoly"
@using HoaP.Application.ViewModels.Task
@using System.Security.Claims
@inject AccountService AccountService
@inject TaskService TaskService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer
@attribute [Authorize]

<div class="container mt-5">
    <div class="card border-0 shadow-sm mx-auto">
        <div class="card-body">
            <h3 class="text-center mb-4 page-title">Seznam úkolů</h3>
            <div class="input-group mb-4">
                <input type="text" @bind="newTask" class="form-control" placeholder="Zadejte nový úkol" />
                <button class="btn btn-outline-secondary" @onclick="AddTask">Přidat</button>
            </div>

            @if (tasks == null || tasks.Count == 0)
            {
                <div class="text-center">
                    <span>Žádné úkoly</span>
                </div>
            }
            else
            {
                <ul class="list-group">
                    @foreach (var task in tasks)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" @bind="task.IsCompleted" @onclick="() => ToggleTaskCompletion(task)" />
                                <label class="form-check-label" style="text-decoration: @(task.IsCompleted ? "line-through" : "none")">
                                    @task.Title
                                </label>
                            </div>
                            <button class="btn btn-danger btn-sm" @onclick="() => DeleteTask(task)">Smazat</button>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>

@code {
    private string newTask;
    private List<TaskViewModel> tasks = new List<TaskViewModel>();
	private string? userId;

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is { IsAuthenticated: true })
        {
			var id = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
			userId = id;

			if (!string.IsNullOrEmpty(userId))
			{
				tasks = await TaskService.GetTasksForEmployeeAsync(userId);
			}
			else
			{
				NavigationManager.NavigateTo("/login");
			}

        }
        else
        {
            NavigationManager.NavigateTo("/login");
        }
    }

    private async Task AddTask()
    {
        if (!string.IsNullOrWhiteSpace(newTask) && !string.IsNullOrEmpty(userId))
        {
            var task = new TaskViewModel { Title = newTask, IsCompleted = false };
            await TaskService.CreateTask(task, userId);
            tasks.Add(task);
            newTask = string.Empty;
        }
    }

    private async void ToggleTaskCompletion(TaskViewModel task)
    {
        task.IsCompleted = !task.IsCompleted;
        await TaskService.UpdateTask(task);
    }

    private async Task DeleteTask(TaskViewModel task)
    {
        tasks.Remove(task);
        await TaskService.DeleteTask(task.Id);
    }
}