.booking-summary {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
}

    .booking-summary h5 {
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.summary-total {
    font-size: 20px;
    font-weight: bold;
}

.rating-summary {
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.rating-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

