@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>
            <main>
                <article class="content px-4">
                    <TopBar />
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        @if (!IsLoginPage)
        {
            NavigationManager.NavigateTo("/login", forceLoad: true);
        }
        else
        {
            @Body
        }
    </NotAuthorized>
</AuthorizeView>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    private bool IsLoginPage => NavigationManager.Uri.Contains("/login");

}